aws_region        = "us-east-1"
availability_zone = "us-east-1a"

vpc_cidr            = "10.0.0.0/16"
public_subnet_cidr  = "10.0.1.0/24"
private_subnet_cidr = "10.0.2.0/24"

key_name    = "OpenSearch"
my_ip_cidr  = "YOUR_PUBLIC_IP/32"
ami_id      = ""
instance_type = "t2.micro"

# Keep this false for the lab requirement.
# false = no NAT Gateway, private EC2 has no direct internet access.
enable_nat_gateway = false
